html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Patua One", cursive; /* this should be the rest of the output you got from Google fonts */
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #0C4F3C;
  }

  body {
    width: 900px;
    margin: 0 auto;
    background-color: #88F1D3;
    padding: 0 0 20px 20px;
    border: 10px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;    
    color: #000000;
    text-shadow: 2px 4px 2px rgb(255, 255, 255);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  img {
    width: 50%;
    height: auto;
  }